@import "../../style/main.scss";
@import "../../style/settings.scss";

$placeholder-light: #d7d7d7;
$placeholder-dark: #454546;

.keywords {
    border-radius: 1.82vw;

    .keyword-input {
        font-size: 1.5625vw;
        height: 4vw;
        width: 100%;
        border-radius: 1.82vw;
        box-sizing: border-box;
        font-weight: 500;
        padding: 0 1.4vw;
        transition-property: background-color, color, box-shadow;
        transition-timing-function: $transition-function;
        transition-duration: $transition-duration;
        border: none;
        position: relative;

        &::placeholder {
            top: 50%;
            left: 0;
            transform: translate(0, -10%);
            position: absolute;
            font-size: 1.1vw;
        }
    }

    .background {
        background: $gradient;
    }

    .keywords-container {
        min-height: 4vw;
        padding: 0.3125vw 0 0 0.3125vw;
        padding-bottom: 0;
        border-radius: 1.82vw;
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        flex-wrap: wrap;
        overflow: hidden;

        .keyword {
            height: 3.375vw;
            margin: 0 0.3125vw 0.3125vw 0;
            padding: 0 1.1vw;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3vw;
            border-radius: 1.7vw;
            z-index: 2;
            transition-property: background-color, color;
            transition-timing-function: $transition-function;
            transition-duration: $transition-duration;

            p {
                margin-right: 1vw;
                transition-property: box-shadow;
                transition-timing-function: $transition-function;
                transition-duration: $transition-duration;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .delete {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 0.7vw;
            height: 0.7vw;
            background: transparent;
            border: none;
            box-sizing: border-box;
            transition-property: transform;
            transition-timing-function: $transition-function;
            transition-duration: $transition-duration;

            svg {
                width: 100%;
                height: 100%;
            }

            &:hover {
                transform: scale(1.25);
            }
        }

        .click {
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            position: absolute;
            z-index: 1;

            &:hover {
                cursor: pointer;

                .transparent {
                    opacity: 0;
                }
            }
        }
    }
}

.light {
    .keywords {
        box-shadow: $item-shadow-light;

        .keyword-input {
            background-color: $fill-light;
            color: $background-light;

            &::placeholder {
                color: $placeholder-light;
            }
        }
    }

    .keywords-container {
        .click .transparent {
            background-color: $fill-light;
        }

        .keyword {
            background-color: $background-light;
            color: $fill-light;
        }
    }
}

.dark {
    .keywords {
        box-shadow: $item-shadow-dark;

        .keyword-input {
            background-color: $fill-dark;
            color: $background-dark;

            &::placeholder {
                color: $placeholder-dark;
            }
        }
    }

    .keywords-container {
        .click .transparent {
            background-color: $fill-dark;
        }

        .keyword {
            background-color: $background-dark;
            color: $fill-dark;
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    .keywords .keywords-container {
        min-height: 6vw;
        padding: 0.4vw 0 0 0.4vw;
        border-radius: 3vw;

        .keyword {
            height: 5vw;
            margin: 0 0.4vw 0.4vw 0;
            padding: 0 1.5vw;
            font-size: 1.8vw;
            border-radius: 3vw;

            .keyword-input {
                height: 6vw;
                border-radius: 6vw;
                font-size: 1.8vw;
                box-sizing: border-box;

                &::placeholder {
                    font-size: 1.8vw;
                }
            }
        }

        .delete {
            width: 1.1vw;
            height: 1.1vw;
        }
    }
}
