:root{
    --placeholder-light: #d7d7d7;
    --placeholder-dark: #454546;
}

#keywords{
    border-radius: 1.82vw;
}  
#keywords input{
    border: none;
    position: relative;
    border-radius: 1.82vw;
}
#keywords input::placeholder{
    top: 50%;
    left: 0;
    transform: translate(0, -10%);
    position: absolute;
    font-size: 1.1vw;
}
#keywords .background{
    background: var(--gradient);
}
#container{
    min-height: 4vw;
    padding: 0.3125vw 0 0 0.3125vw;
    padding-bottom: 0;
    border-radius: 1.82vw;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}
#container .keyword{
    height: 3.375vw;
    margin: 0 0.3125vw 0.3125vw 0;
    padding: 0 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    border-radius: 1.7vw;
    z-index: 2;
}
#container .keyword p{
    margin-right: 1vw;
}
#container .delete{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 0.7vw;
    height: 0.7vw;
    background: transparent;
    border: none;
    box-sizing: border-box;
}
#container .delete svg{
    width: 100%;
    height: 100%;
}
#container .delete:hover{
    transform: scale(1.25);
    transition: var(--hover-transition);
}
#container .keyword:last-child{
    margin-right: 0;
}
#click{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: transparent;
}
#click:hover .transparent{
    opacity: 0;
}

.light #keywords{
    box-shadow: var(--item-shadow-light);
}
.light #click .transparent{
    background-color: var(--fill-light);
}
.light #keywords input{
    background-color: var(--fill-light);
    color: var(--background-light);
}
.light #keywords input::placeholder{
    color: var(--placeholder-light);
}
.light #container .keyword{
    background-color: var(--background-light);
    color: var(--fill-light);
}

.dark #keywords{
    box-shadow: var(--item-shadow-dark);
}
.dark #click .transparent{
    background-color: var(--fill-dark);
}
.dark #keywords input{
    background-color: var(--fill-dark);
    color: var(--background-dark);
}
.dark #keywords input::placeholder{
    color: var(--placeholder-dark);
}
.dark #container .keyword{
    background-color: var(--background-dark);
    color: var(--fill-dark);
}

@media (max-aspect-ratio: 1/1){
    #container{
        min-height: 6vw;
        padding: 0.4vw 0 0 0.4vw;
        border-radius: 3vw;
    }
    #container .keyword{
        height: 5vw;
        margin: 0 0.4vw 0.4vw 0;
        padding: 0 1.5vw;
        font-size: 1.8vw;
        border-radius: 3vw;
    }
    #container .delete{
        width: 1.1vw;
        height: 1.1vw;
    }
}