.privacy{
    justify-content: center;

    .text{
        display: flex;
        align-items: center;
        font-size: 1vw;
        white-space: pre;
    }

    .switch{
        transform: scale(0.75);
    }

    .link .title{
        text-decoration: underline;
        text-underline-position: under;
    }
}