@import "../../style/main.scss";

.privacy {
    justify-content: center;

    .text {
        display: flex;
        align-items: center;
        font-size: 1vw;
        white-space: pre;
    }

    .switch {
        transform: scale(0.75);
    }

    .link {
        padding: 0;

        .title {
            font-size: 1vw;
            text-decoration: underline;
            text-underline-position: under;
        }
    }
}

.light .privacy .title {
    color: $fill-light;
}

.dark .privacy .title {
    color: $fill-dark;
}

@media (max-aspect-ratio: 1/1) {
    .privacy{
        .agreement, .link .title{
            font-size: 1.3vh;
        }
    }
}
