#setup #privacy{
    justify-content: center;
}
#privacy a p{
    text-decoration: underline;
    text-underline-position: under;
}
#privacy .switch{
    transform: scale(0.75);
}
#privacy #text{
    display: flex;
    align-items: center;
    font-size: 1vw;
    white-space: pre;
    transition-property: transform;
    transition-timing-function: var(--transition-function);
    transition-duration: var(--transition-duration);
}
#privacy #text:hover{
    transform: scale(1.1);
}