@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page{
    height: 100%;
    width: 100%;
    position: relative;
}

#user{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

@media (max-aspect-ratio: 1/1) {
    #user{
        padding-left: 0;
        flex-direction: column-reverse;
    }
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb{
    border-radius: 7px;
}

.light ::-webkit-scrollbar-track{
    background: var(--hr-light);
}
.light ::-webkit-scrollbar-thumb{
    background: var(--fill-light)
}
.dark ::-webkit-scrollbar-track{
    background: var(--hr-dark);
}
.dark ::-webkit-scrollbar-thumb{
    background: var(--fill-dark)
}