@import '../../style/main.scss';
@import '../../style/settings.scss';

.quality-select{
    font-size: 1.5625vw;
    height: 4vw;
    width: 100%;
    border-radius: 1.82vw;
    box-sizing: border-box;
    font-weight: 600;
    padding: 0 1.4vw;
    transition-property: background-color, color, box-shadow;
    transition-timing-function: $transition-function;
    transition-duration: $transition-duration;

    &:hover, .quality-option:hover{
        cursor: pointer;
    }

    .quality-option{
        font-size: 1.2vw;
    }
}

.light .quality-select{
    background-color: $fill-light;
    color: $background-light;
    box-shadow: $item-shadow-light;
}

.dark .quality-select{
    background-color: $fill-dark;
    color: $background-dark;
    box-shadow: $item-shadow-dark;
}

@media (max-aspect-ratio: 1/1){
    .quality-select{
        height: 6vw;
        border-radius: 6vw;
        font-size: 1.8vw;
        box-sizing: border-box;
    }
    
    .quality-select, .quality-option{
        font-size: 1.8vw;
    }
}