@import "../../style/main.scss";
@import "../../style/settings.scss";

$shadow-dark: 0px 0px 38px rgba(0, 0, 0, 1);

.error {
    width: $page-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .code-key,
    .fix {
        transition-property: color, text-shadow;
        transition-timing-function: $transition-function;
        transition-duration: $transition-duration;
    }

    .fix {
        margin: 0;
        font-size: 3.65vw;
        font-weight: 700;
        margin: 3vw;
    }

    .description {
        margin: 0;
        width: 51vw;
        font-weight: 500;
        line-height: 2.6vw;
        font-size: 1.5625vw;
        text-align: center;
    }

    .err-code {
        height: auto;
        display: flex;
        align-items: center;

        .code-key {
            font-size: 18.2vw;
            line-height: 17vw;
            font-weight: 600;
            margin: 0;

            &:nth-child(2) {
                font-size: 22.4vw;
                background: $gradient;
                -webkit-background-clip: text;
                color: transparent;
                font-weight: 700;
                text-shadow: none !important;
                filter: drop-shadow(0px 6px 18px rgba(58, 66, 78, 0.12));
            }
        }
    }
}

.light .error {
    .description {
        color: $hr-light;
    }

    .code-key,
    .fix {
        color: $fill-light;
        text-shadow: 0px 0px 43px rgba(82, 82, 82, 0.15);
    }
}

.dark .error {
    .description {
        color: $hr-dark;
    }

    .code-key,
    .fix {
        color: $fill-dark;
        text-shadow: 0px 0px 76px rgba(0, 0, 0, 0.56);
    }
}
