@import '../../style/main.scss';
@import '../../style/settings.scss';

.timer{
    justify-content: flex-start;
    margin-bottom: 1.3vw;
}
.timer .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.time input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: 4vw;
    text-align: center;
    border-radius: 1.5625vw;
    width: 4.3vw;
    font-size: 2.35vw;
    border: none;
    transition-property: background-color, color, box-shadow;
    transition-timing-function: $transition-function;
    transition-duration: $transition-duration;
}
.time input:focus{
    outline: none;
}
.time label{
    font-weight: 500;
    text-align: center;
    width: 4.6vw;
    left: 0;
    position: absolute;
    font-size: 1vw;
    top: 4.5vw;
}
.colon{
    font-weight: 500;
    margin: 0 0.72vw;
    font-size: 1.8vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.light .time input{
    background-color: $fill-light;
    color: $background-light;
    box-shadow: $item-shadow-light;
}
.light .colon{
    color: $fill-light;
}
.light .time label{
    color: #626262;
}
.dark .time input{
    background-color: $fill-dark;
    color: $background-dark;
    box-shadow: $item-shadow-dark;
}
.dark .colon{
    color: $fill-dark;
}
.dark .time label{
    color: #d1d1d1;
}

@media (max-aspect-ratio: 1/1){
    .timer{
        justify-content: flex-start;
        margin-bottom: 1.3vw;
    }
    .time input{
        height: 6vw;
        border-radius: 2.3vw;
        width: 6.3vw;
        font-size: 3vw;
    }
    .time label{
        width: 6.3vw;
        font-size: 1.5vw;
        top: 7vw;
    }
    .colon{
        margin: 0 0.72vw;
        font-size: 1.8vw;
    }
}