@import '../../style/main.scss';
@import '../../style/settings.scss';

.timer{
    justify-content: center;
    margin-bottom: 1.3vw;

    .time-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .time{
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

            

            .wrapper{
                display: flex;
                justify-content: center;
                align-items: center;

                .time-input{
                    font-weight: 600;
                    height: 4vw;
                    text-align: center;
                    border-radius: 1.5625vw;
                    width: 4.3vw;
                    font-size: 2.35vw;
                    border: none;
                    transition-property: background-color, color, box-shadow;
                    transition-timing-function: $transition-function;
                    transition-duration: $transition-duration;

                    &:focus{
                        outline: none;
                    }
                }

                .colon{
                    font-weight: 500;
                    margin: 0 0.72vw;
                    font-size: 1.8vw;
                }
            }

            .time-label{
                font-weight: 500;
                text-align: center;
                width: 4.6vw;
                left: 0;
                position: absolute;
                font-size: 1vw;
                top: 4.5vw;
            }
        }
    }
}

.time-input::-webkit-outer-spin-button,
.time-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.light .timer .time-container .time{
    .wrapper{
        .time-input{
            background-color: $fill-light;
            color: $background-light;
            box-shadow: $item-shadow-light;
        }

        .colon{
            color: $fill-light;
        }
    }

    .time-label{
        color: #626262;
    }
}
 
.dark .timer .time-container .time{
    .wrapper{
        .time-input{
            background-color: $fill-dark;
            color: $background-dark;
            box-shadow: $item-shadow-dark;
        }

        .colon{
            color: $fill-dark;
        }
    }

    .time-label{
        color: #d1d1d1;
    }
}

@media (max-aspect-ratio: 1/1){
    .timer{
        justify-content: flex-start;
        margin-bottom: 1.3vw;

        .time-container .time{
            .wrapper{
                .time-input{
                    height: 6vw;
                    border-radius: 2.3vw;
                    width: 6.3vw;
                    font-size: 3vw;
                }

                .colon{
                    margin: 0 0.72vw;
                    font-size: 1.8vw;
                }
            }

            .time-label{
                width: 6.3vw;
                font-size: 1.5vw;
                top: 7vw;
            }
        }
    }
}