#setup{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#setup .arrow{
    width: 18.5%;
}

#setup #theme-switch{
    height: auto;
    border-radius: 2vmax;
    padding: 1.3vmax;
    position: absolute;
    top: 1.56vmax;
    left: 1.56vmax;
    z-index: 11;
    transition-property: background-color, transform;
}

.light #setup #theme-switch{
    background-color: var(--nav-light);
    box-shadow: var(--shadow-light);
}
.dark #setup #theme-switch{
    background-color: var(--nav-dark);
    box-shadow: var(--shadow-dark);
}

@media (min-aspect-ratio: 18/9){
    #setup{
        overflow-y: scroll;
    }
}
@media (min-aspect-ratio: 21/9){
    #setup #settings{
        justify-content: center;
        /* align-items: flex-start; */
        overflow: visible;
    }

    #setup .item:first-child{
        margin-top: 0;
    }
    #setup .item:last-child{
        margin-bottom: 0;
    }
}