:root{
    --switch-on-shadow: -2px 1px 16.38px 1.62px rgba(0, 0, 0, 0.32);
    --switch-off-shadow: 2px 1px 17.7084px 0.2916px rgba(0, 0, 0, 0.32);
}

.switch {
    position: relative;
    display: inline-block;
    width: 5.72vw;
    height: 2.6vw;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1.3vw;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2vw;
    width: 2vw;
    left: 0.3vw;
    bottom: 0.3vw;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    z-index: 2;
    box-shadow: var(--switch-off-shadow);
}
.slider .gradient{
    background: var(--gradient);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    border-radius: 1.3vw;
    transition: .4s;
}
  
input:checked + .slider .gradient {
    opacity: 1;
}
  
input:checked + .slider:before {
    box-shadow: var(--switch-on-shadow);
    background: white;
    -webkit-transform: translateX(3.15vw);
    -ms-transform: translateX(3.15vw);
    transform: translateX(3.15vw);
}

.light .slider{
    background-color: var(--fill-light);
    box-shadow: var(--item-shadow-light);
}
.light .slider:before{
    background: var(--background-light);
}

.dark .slider{
    background-color: var(--fill-dark);
    box-shadow: var(--item-shadow-dark);
}
.dark .slider:before{
    background: var(--background-dark);
}

@media (max-aspect-ratio: 1/1){
    .switch {
        width: 8vw;
        height: 4vw;
    } 
    .slider {
        border-radius: 2vw;
    }
    .slider:before {
        height: 3vw;
        width: 3vw;
        left: 0.5vw;
        bottom: 0.5vw;
    }
    .slider .gradient{
        border-radius: 2vw;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(3.15vw);
        -ms-transform: translateX(3.15vw);
        transform: translateX(3.15vw);
    }
}