@import "../../style/main.scss";
@import "../../style/settings.scss";

$switch-on-shadow: -2px 1px 16.38px 1.62px rgba(0, 0, 0, 0.32);
$switch-off-shadow: 2px 1px 17.7084px 0.2916px rgba(0, 0, 0, 0.32);

.switch {
    position: relative;
    display: inline-block;
    width: 5.72vw;
    height: 2.6vw;

    .switch-input {
        width: 0;
        height: 0;

        &:checked + .switch-slider {
            background-color: transparent;

            &:before {
                box-shadow: $switch-on-shadow;
                background: white;
                transform: translateX(3.15vw);
            }

            .gradient {
                opacity: 1;
            }
        }
    }

    .switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1.3vw;
        transition: 400ms;

        &:before {
            position: absolute;
            content: "";
            height: 2vw;
            width: 2vw;
            left: 0.3vw;
            bottom: 0.3vw;
            background: white;
            transition: 600ms;
            border-radius: 50%;
            z-index: 2;
            box-shadow: $switch-off-shadow;
        }

        .gradient {
            background: $gradient;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            position: absolute;
            z-index: 1;
            border-radius: 1.3vw;
            transition: opacity 400ms;
        }
    }
}

.light .switch-slider {
    background-color: $fill-light;
    box-shadow: $item-shadow-light;

    &:before {
        background: $background-light;
    }
}

.dark .switch-slider {
    background-color: $fill-dark;
    box-shadow: $item-shadow-dark;

    &:before {
        background: $background-dark;
    }
}

@media (max-aspect-ratio: 1/1) {
    .switch {
        width: 8vw;
        height: 4vw;

        .switch-slider,
        .switch-slider .gradient {
            border-radius: 4vw;
        }

        .switch-slider:before {
            height: 3vw;
            width: 3vw;
            left: 0.5vw;
            bottom: 0.5vw;
        }

        .switch-input:checked + .switch-slider:before {
            transform: translateX(4.1vw);
        }
    }
}
