@use 'sass:math';
@import "../../style/main.scss";

$image-shadow-light: 0px 0px 37.26px 8.74px rgba(82, 82, 82, 0.25);
$image-shadow-dark: 0px 0px 89.91px 21.09px rgba(0, 0, 0, 0.58);

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .arrow {
        width: 6%;

        &:last-child svg {
            transform: scaleX(-1);
        }
    }

    .aspect-ratio {
        width: 88%;
        z-index: 1;
    }

    .wrapper {
        width: 60%;
        height: calc((100vh - 80vw * 0.5625) / 2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;

        .author {
            display: flex;
            justify-content: center;
            align-items: center;

            .medium {
                font-weight: 500;
            }

            .text {
                white-space: pre-wrap;
            }
        }
    }

    .link {
        text-decoration: none;
        font-size: 0.7vw;
        transition: transform 300ms;

        &:hover {
            transform: scale(1.1);
        }
    }

    .progress-bar + .link {
        display: none;
    }
}

.light .home {
    .container {
        box-shadow: $image-shadow-light;
    }

    .link {
        color: $fill-light;
    }
}

.dark .home {
    .container {
        box-shadow: $image-shadow-dark;
    }

    .link {
        color: $fill-dark;
    }
}

@media (max-aspect-ratio: 1/1) {
    $arrow-margin: math.div(88vw, 100) * 35;
    .home {
        flex-direction: column;

        .wrapper {
            height: calc((70vh - 90vw * 0.5625) / 2);
        }

        .arrows {
            flex-direction: column;

            .arrow {
                width: 2.5vh;
                height: 7%;

                &:nth-child(1) {
                    margin-bottom: $arrow-margin;
                }
                &:nth-child(2) {
                    margin-top: $arrow-margin;
                }
                &:hover {
                    transform: scale(1.4);
                }
                &:first-child svg {
                    transform: rotate(90deg);
                }
                &:last-child svg {
                    transform: rotate(-90deg);
                }
            }
        }

        .author {
            font-size: 1vh;
        }
    }
}

@media (min-aspect-ratio: 18/9) {
    .home {
        .aspect-ratio {
            margin: 0;
            height: 85%;
            box-sizing: border-box;

            .container {
                overflow: hidden;
                height: 100%;
                width: 0;
                padding-top: 0;
                padding-right: 100%;
                background-color: black;
                position: relative;
                border-radius: 2.6vw;
            }
        }

        .wrapper {
            height: 7vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
        }
    }
}
