@import "../../style/main.scss";
@import "../../style/settings.scss";
//todo

.info {
    padding: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .contact {
        display: flex;
        align-items: center;

        .link-title {
            margin: 0;
            font-size: 1.5625vw;
        }

        .link {
            margin-left: 1.35vw;

            svg {
                height: 2.45vw;
                width: 2.45vw;
            }
        }
    }

    .reference {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .resources {
            font-weight: 400;
            margin: 0;
            font-size: 0.73vw;
        }

        .links {
            margin-top: 1.05vw;

            .link:nth-child(-n + 2) {
                margin-right: 2vw;
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link {
            text-decoration: none;
            font-size: 1vw;
            transition-property: transform;
            transition-timing-function: $transition-function;
            transition-duration: $transition-duration;

            .title {
                font-weight: 400;
                margin: 0;
            }

            &:hover {
                transform: scale(1.15);
            }

            > * {
                pointer-events: none;
            }
        }
    }
}

.light {
    .info {
        color: $fill-light;

        .link {
            color: $fill-light;

            svg {
                fill: $fill-light;
            }
        }

        svg {
            filter: $icon-shadow-light;
        }
    }

    .link-title,
    .resources {
        text-shadow: $title-shadow-light;
    }
}

.dark {
    .info {
        color: $fill-dark;

        .link {
            color: $fill-dark;

            svg {
                fill: $fill-dark;
            }
        }

        svg {
            filter: $icon-shadow-dark;
        }
    }

    .link-title,
    .resources {
        text-shadow: $title-shadow-dark;
    }
}

@media (max-aspect-ratio: 1/1) {
    .info {
        box-sizing: border-box;

        .contact {
            .link svg {
                height: 3vh;
                width: 3vh;
            }
        }

        .reference {
            .links {
                margin-top: 2vh;

                .link-title {
                    margin: 0;
                    font-size: 1.7vh;
                }

                .link {
                    font-size: 1.3vh;
                }
            }

            .resources {
                font-size: 1vh;
            }
        }
    }
}

@media (min-aspect-ratio: 20/9) {
    .info {
        overflow-y: scroll;

        .cards {
            margin: 4vw 0;
        }
    }
}
