@import '../../style/main.scss';
@import '../../style/nav.scss';
@import '../../style/settings.scss';

.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 23vw;
        height: 27.7vw;
        padding: 3.8vw 1.5vw 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border-radius: 2.6vw;
        transition-property: transform;
        transition-timing-function: $transition-function;
        transition-duration: $transition-duration;

        &:hover{
            transform: scale(1.15);

            .gradient{
                opacity: 1.0;
            }
        }

        &:nth-child(-n+2){
            margin-right: 3.35vw;
        }

        svg{
            width: 6.5vw;
            height: 6.5vw;
        }
        .title{
            font-weight: 600;
            font-size: 2.18vw;
            margin: 0.8vw 0;
        }
        .description{
            font-size: 1.05vw;
            line-height: 2.1vw;
            text-align: center;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
        .special{
            margin-top: 4.375vw;
            font-size: 0.78vw;
            font-weight: 600;
        }
    }
}

.light{
    .card{
        color: $nav-fill-light;
        background-color: $nav-light;
        box-shadow: $shadow-light;

        svg rect:first-child{
            fill: $nav-fill-light;
        }

        .title{
            text-shadow: $title-shadow-light;
        }
    }
}

.dark{
    .card{
        color: $nav-fill-dark;
        background-color: $nav-dark;
        box-shadow: $shadow-dark;

        svg rect:first-child{
            fill: $nav-fill-dark;
        }

        .title{
            text-shadow: $title-shadow-dark;
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    .cards{
        flex-direction: column;

        .card{
            width: 70%;
            height: auto;

            &:nth-child(-n+2){
                margin-right: 0;
            }
            &:nth-child(n+2){
                margin-top: 3.35vh;
            }

            svg{
                width: 100%;
                height: 5vh;
            }
            .title{
                font-size: 2vh;
                margin: 1.5vh 0;
            }
            .description{
                font-size: 1.3vh;
                line-height: 2.1vh;
            }
            .special{
                margin: 2.5vh 0 1vh;
                font-size: 1vh;
            }
        }
    }
   
}

@media (min-aspect-ratio: 20/9){
    .cards{
        margin: 4vw 0;
    }
}