#controls{
    width: 100%;
    top: 0;
    right: 1.56vw;
    position: absolute;
    z-index: 10;
    display: flex;
}
#draggable{
    width: 100%;
    -webkit-app-region: drag;
}
#control-btns{
    margin-top: 1.56vw;
    display: flex;
}
#controls button{
    width: 1.2vw;
    height: 1.2vw;
    border: none;
    background: transparent;
    transition: var(--hover-transition);
    padding: 0;
}
#controls button:nth-child(-n+2){
    margin-right: 1.5vw;
}
#controls button:hover{
    transform: scale(1.2);
}
#controls button svg{
    height: 100%;
    width: 100%;
}