@import 'main.scss';

button{
    &:hover{
        cursor: pointer;

        .gradient{
            opacity: 1.0;
        }
    }

    &:focus{ //change
        outline: none;
    }

    & > * {
        pointer-events: none;
    }
}

button, input, select{
    font-family: 'Montserrat', sans-serif;
}

.background{
    height: 100%;
    padding: 0.25vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.82vw;
    transition: .2s;
}

.transparent{
    opacity: 1.0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: .3s;
    border-radius: 1.7vw;
}

.nav-btn{
    display: inline-block;
    background-color: transparent;
    border: none;
    position: relative;
    transition-property: transform;
    transition-timing-function: $transition-function;
    transition-duration: $transition-duration;
    padding: 0 2.08vw;

    &:hover{
        transform: scale(1.09);
    }

    &.active{
        transform: scale(1.09);

        &::after, .gradient{
            opacity: 1;
        }

        &:hover{
            cursor: default;
        }
    }

    svg{
        width: 3.125vw;
        height: 3.125vw;
    }

    .gradient{
        opacity: 0.0;
        transition: opacity .5s ease;
        display: inline-block;
    }

    &::after{
        transition: .5s;
        opacity: 0;
        border-radius: 20px;
        content: '';
        display: block;
        height: 110%;
        width: 0.27vw;
        background-color: #33eb7f;
        position: absolute;
        right: 3px;
        top: -5%;
    }
}

.gradient{
    opacity: 0.0;
    transition: opacity .3s ease;
    display: inline-block;
}

.light svg rect:first-child{
    fill: $fill-light;
}

.dark svg rect:first-child{
    fill: $fill-dark;
}