$nav-light: #f8f8fc;
$nav-dark: #161618;
    
$shadow-light: 0px 0px 43px 0px rgba(82, 82, 82, 0.15);
$shadow-dark: 0px 0px 76px 0px rgba(0, 0, 0, 0.56);

$nav-fill-light: #4d545e;
$nav-fill-dark: #e7e7e9;