$settings-icon-shadow-light: drop-shadow(-2px 2px 8.55px rgba(0, 0, 0, 0.29));
$settings-icon-shadow-dark: drop-shadow(-6px 7px 7px rgba(0, 0, 0, 0.6));
    
$title-shadow-light: 0px 3px 7px rgba(58, 66, 78, 0.15);
$title-shadow-dark: -6px 7px 7px rgba(0, 0, 0, 0.52);
    
$item-shadow-light: 0px 6px 18px 0px rgba(58, 66, 78, 0.12);
$item-shadow-dark: 0px 0px 25px 0px rgba(0, 0, 0, 0.7);

$hr-light: #b2b1b1;
$hr-dark: #535353;