@import '../../root.scss';

.carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translate(-50%);

    .car-button{
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        width: 0.8vmax;
        height: 0.8vmax;
        margin-right: 0.65vw;
        transition-property: transform;
        transition-timing-function: $transition-function;
        transition-duration: $transition-duration;

        svg{
            width: 90%;
            height: 90%;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    
    .non-active:hover{
        transform: scale(1.3);

        svg .gradient{
            opacity: 0;
        }
    }

    .active{
        transform: scale(1.375);
    }
}

.light .carousel .car-button svg{
    fill: $fill-light;
    filter: $icon-shadow-light;
}

.dark .carousel .car-button svg{
    fill: $fill-dark;
    filter: $icon-shadow-dark;
}

@media (min-aspect-ratio: 18/9){
    .carousel{
        display: none;
    }
}