@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5vw 8vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #7e7e7e;
    animation: icon 3s infinite ease-in-out;
}

#logo{
    width: 14vw;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 3vw;
    margin: 0;
}

p{
    font-weight: 800;
    margin: 0.3vw 0 0;
    font-size: 1vw;
}

.tags{
    margin: 4vh 0 8vh;
    display: flex;
    align-items: center;
}

.input{
    min-width: 20vw;
    background-color: #ededef;
    font-size: 1vw;
    border: none;
    border-radius: 1vw;
    color: #a5a5a5;
}

#keywords{
    padding: 1.5vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
#add{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 0;
}
.item{
    padding: 0.8vh 0.9vw;;
    background-color: white;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0.5vw;
    z-index: 2;
}
.item:last-child{
    margin-right: 1.5vw;
}
.item p{
    font-weight: 600;
    margin: 0;
}
.item img{
    width: 0.7vw;
    margin-left: 0.5vw;
}

input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 2.3vh 0.75vw;
    margin: 4vh 0 8vh;
}
#next{
    border: none;
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}
select:focus, input:focus{
    outline: none;
}
#next img{
    width: 70%;
}

.invisible{
    visibility: hidden;
}
.hidden{
    display: none;
}

@keyframes icon{
    0%{
        padding-top: 8vh;
    }
    50%{
        padding-top: 20vh;
    }
    100%{
        padding-top: 8vh;
    }
}