#next{
    border: none;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}
#next:focus, select:focus{
    outline: none;
}
#next img{
    width: 70%;
}