#next{
    border: none;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c6ca;
}
#next:focus, select:focus{
    outline: none;
}
#next img{
    width: 70%;
}