@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body{
    width: 100vw;
    height: 100vh;
    padding: 3vw 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #7e7e7e;
}

h1{
    font-size: 4vw;
    font-weight: 800;
    margin: 0 0 2vw;
}
h3{
    font-size: 1.5vw;
    font-weight: 700;
    margin-right: 3vw;
}

.point{
    min-width: 33vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    width: 22vw;
    background-color: #dcdbdb;
    padding: 1vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #898989;
    border: none;
    border-radius: 1vw;
    overflow-y: hidden;
    overflow: hidden;
}
option{
    padding: 0.2vw;
    font-weight: 600;
}

input::placeholder{
    color: #898989;
}
input:focus, select:focus{
    outline: none;
}

.tags{
    display: flex;
    align-items: center;
}

.input{
    min-width: 20vw;
    background-color: #dcdbdb;
    padding: 1vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 1vw;
    color: #898989;
}

#keywords{
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    margin: 0;
}
#add{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 0;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
#text{
    background-color: #7f7f7f;
    color: #efefef;
}

#accept{
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background-color: transparent;
    border: none;
    top: 0.5vw;
    right: 0.5vw;
}
#accept-img{
    height: 100%;
    width: 100%;
}
.item{
    padding: 0.5vw 0.8vw;
    background-color: white;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 0.5vw;
    z-index: 2;
}
.item:last-child{
    margin-right: 1.5vw;
}
.item p{
    font-weight: 600;
    margin: 0;
    word-wrap: keep-all;
}
.item img{
    width: 0.7vw;
    margin-left: 0.5vw;
}
.invisible{
    visibility: hidden;
}
.hidden{
    display: none;
}

#settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#save{
    border: none;
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c6ca;
}
#save img{
    width: 70%;
}

#error{
    visibility: hidden;
}
#error-msg{
    font-size: 1.35vw;
    font-weight: 600;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 4vw;
	height: 2vw;
	background: grey;
	display: block;
	border-radius: 2vw;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 0.2vw;
	left: 0.2vw;
	width: 1.6vw;
	height: 1.6vw;
	background: #fff;
	border-radius: 1.6vw;
	transition: 0.3s;
}

input:checked + label:after {
	left: calc(100% - 0.2vw);
	transform: translateX(-100%);
}

label:active:after {
	width: 1.9vw;
}

@media (max-aspect-ratio: 6/4){
    body{
        padding: 5vh 0;
    }
    
    h1{
        font-size: 6vh;
        text-align: center;
    }
    h3{
        margin: 2.5vh 2vh;
        font-size: 3vh;
    }

    p{
        font-size: 1.5vh;
    }

    #error-msg{
        font-size: 2.5vh;
    }

    .point{
        min-width: 55vh;
    }

    .input{
        min-width: 28vh;
        padding: 2vh;
        font-size: 2vh;
        border-radius: 2vh;
    }
    #accept{
        height: 4vh;
        width: 4vh;
        border: none;
        top: 1.5vh;
        right: 0.7vh;
    }
    select{
        width: 32vh;
        padding: 2vh;
        font-size: 2vh;
        border-radius: 2vh;
    }

    .item{
        padding: 1vh 1.6vh;
        border-radius: 0.8vh;
        margin-right: 1vh;
    }
    .item img{
        width: 1vh;
        margin-left: 1vh;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 6vh;
        height: 3vh;
        background: grey;
        display: block;
        border-radius: 3vh;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 0.3vh;
        left: 0.4vh;
        width: 2.3vh;
        height: 2.3vh;
        background: #fff;
        border-radius: 1.2vh;
        transition: 0.3s;
    }
    
    input:checked + label:after {
        left: calc(100% - 0.4vh);
        transform: translateX(-100%);
    }
    
    label:active:after {
        width: 2vh;
    }
}