@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
    padding: 0 7vw;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

h1{
    font-size: 5em;
    margin: 0;
    color: #4502de;
}
p{
    font-size: 1.7em;
    color: #9e9e9f;
    line-height: 1.4em;
}

#text{
    width: 81vw;
}

#next{
    height: 7vw;
    width: 7vw;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c6ca;
}

#hint{
    background-color: white;
    padding: 1vw;
    border-radius: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 7vw;
    left: 1vw;
    z-index: 2;
}
#hint p{
    font-size: 1vw;
    color: #7e7e7e;
    z-index: 2;
    margin: 0.5vw 0;
}
#hide-hint{
    background-color: transparent;
    border: none;
    color: #4502de;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 700;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
} 

#next:focus{
    outline: none;
}

#arrow{
    height: 4vw;
    width: 4vw;
}

@media (max-aspect-ratio: 1/1){
    #hint{
        top: 8vh;
        left: 1vh;
    }
    #hint p, #hide-hint{
        font-size: 1vh;
    }
}
