@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding: 12vh 5vw 3vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#icons{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 22%;
    display: flex;
    justify-content: center;
}
.icon:nth-child(1), .icon:nth-child(3){
    align-items: flex-start;
    animation: fromTop 4s infinite ease-in-out;
}
.icon:nth-child(2), .icon:nth-child(4){
    align-items: flex-end;
    animation: fromBottom 4s infinite ease-in-out;
}
.icon img{
    width: 100%;
    height: 20vh;
}
.icon:nth-child(3) img{
    width: 60%;
}

#container{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3vw;
    margin: 0;
    color: #4502de;
}

p{
    font-size: 1vw;
    font-weight: 800;
    margin: 0.5vw;
    color: #4502de;
}

select{
    width: 20vw;
    background-color: #ededef;
    padding: 1vw;
    margin-top: 1vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #a5a5a5;
    border: none;
    border-radius: 1vw;
    overflow-y: hidden;
    overflow: hidden;
}
option{
    padding: 0.2vw;
    font-weight: 600;
}

@keyframes fromTop{
    0%{
        padding-top: 0;
    }
    50%{
        padding-top: 10vh;
    }
    100%{
        padding-top: 0;
    }
}

@keyframes fromBottom{
    0%{
        padding-top: 0;
    }
    50%{
        padding-bottom: 10vh;
    }
    100%{
        padding-top: 0;
    }
}