@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding: 12vh 5vw 3vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #7e7e7e;
}

#pic{
    width: 100%;
    height: 35vh;
}
#logo{
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 25vh;
    animation: fromTop 4s infinite ease-in-out;
}

#container{
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#align{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size: 3vw;
    margin: 0;
}

p{
    font-weight: 800;
    margin: 0.5vw;
    font-size: 1vw;
}

input{
    width: 20vw;
    background-color: #ededef;
    padding: 1vw;
    margin-top: 1vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 1vw;
    color: #a5a5a5;
}
input::placeholder{
    color: #a5a5a5;
}
input:focus{
    outline: none;
}

@keyframes fromTop{
    0%{
        padding-top: 0;
    }
    50%{
        padding-top: 10vh;
    }
    100%{
        padding-top: 0;
    }
}