@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

#theme{
    transition-property: background-color;
    transition-timing-function: var(--transition-function);
    transition-duration: var(--transition-duration);
}

svg,
rect:first-child{
    transition-property: fill;
    transition-timing-function: var(--transition-function);
    transition-duration: var(--transition-duration);
}

.light{
    background-color: var(--background-light);
}
.dark{
    background-color: var(--background-dark);
}