:root{
    --background-light: #f4f4f8;
    --background-dark: #17171a;
    
    --fill-light: #30353b;
    --fill-dark: #ebebeb;

    --icon-shadow-light: drop-shadow(0px 4px 2px rgba(58, 66, 78, 0.15));
    --icon-shadow-dark: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.8));
    
    --gradient: linear-gradient(to right, #0dc39f, #38ef7d);
    --page-width: calc(100% - 8.86vw);
    --hover-transition: all cubic-bezier(0.2, 0.8, 0.2, 1) .8s;
}