@import "../../style/main.scss";
@import "../../style/nav.scss";

.progress-bar {
    height: 0.6vw;
    z-index: 2;
    width: 60vw;
    border-radius: 1vw;

    .fill {
        border-radius: 1vw;
        background: $gradient;
        height: 100%;
    }
}

.dark .progress-bar {
    box-shadow: $icon-shadow-dark;
    background: $nav-fill-dark;
}
.light .progress-bar {
    box-shadow: $icon-shadow-light;
    background: $nav-fill-light;
}
