@import "../../style/main.scss";
@import "../../style/nav.scss";

.slider-container {
    width: 100%;
    overflow: visible;
    position: relative;
    z-index: 3;

    .translate {
        width: 100%;
        height: 100%;
        transition-property: transform;
        transition-timing-function: $transition-function;
        transition-duration: $transition-duration;
    }
}

.setup {
    .settings {
        flex-direction: row;
    }

    .setup-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 5vw;

        svg {
            height: 15vw;
            width: 15vw;
            margin-right: 0;
            margin-top: 12.75vh;
        }

        h1 {
            line-height: 2vw;
            font-size: 2.35vw;
            margin: 5.8vh 0 3vh;
            text-align: center;
        }

        p {
            font-size: 1.4vw;
            line-height: 2.5vw;
            margin: 0;
            text-align: center;
        }
    }

    .item {
        min-width: 70vw;
        position: relative;
        margin-right: 10vw;
        border-radius: 3.125vw;
        background-size: cover;
        background-position: center;

        .setting {
            margin: 4.8vh 0 8vh;
            transition-property: transform;
            transition-timing-function: $transition-function;
            transition-duration: $transition-duration;

            &:hover {
                transform: scale(1.05);
            }
        }

        .container {
            flex-direction: column;
            border-radius: 3.125vw;
        }

        &.active-item {
            transform: scale(1.05);
        }

        &:first-child {
            margin-left: 9.5vw;
        }
    }

    .separator {
        display: none;
    }
}

.light .setup .item {
    box-shadow: $shadow-light;
    color: $fill-light;

    .container {
        background: rgba(248, 248, 252, 0.7);
    }
}

.dark .setup .item {
    box-shadow: $shadow-dark;
    color: $fill-dark;

    .container {
        background: rgba(22, 22, 24, 0.85);
    }
}

@media (max-aspect-ratio: 1/1) {
    .setup .setup-title {
        svg {
            width: 10vh;
        }

        h1 {
            line-height: 2vh;
            font-size: 2.35vh;
        }

        p {
            font-size: 1.4vh;
            line-height: 2.5vh;
        }
    }
}
